<link rel="import" href="../reef-grid.html">
<link rel="import" href="../reef-icon.html">

  <script>
    class HomeView extends HTMLElement {
      static get is() {
        return 'home-view';
      };
      static get observedAttributes() {
        return ['username'];
      }
      static get config() {
        return {
          properties: {
            username: String
          }
        }
      }
      constructor() {
        super();
        this._onClick = this._onClick.bind(this);
        this.toggled = false;
        this.root = this.attachShadow({mode: 'open'});
        this.root.innerHTML = `
          <style>
            :host {
              display: flex;
              --reef-icon-color: #555;
            }
            h1, h2 {
              margin: 0;
            }
            summary {
              padding-top: 24px;
            }
            @media (min-width: 680px) {
              :host {

              }
            }
          </style>

          <reef-grid>
          <style>
            .grid-item.item-1 {
              justify-content: center;
              display: flex;
            }
          </style>
            <div class="grid-item item-1" style="width:100%;">
              <h1>Welcome
              <span class="username"></span>
              to Reeflight.</h1>
            </div>

            <div class="grid-item">
              <reef-icon icon="lightbulb-outline"></reef-icon>
              <reef-icon icon="wifi"></reef-icon>
              <reef-icon icon="bluetooth"></reef-icon>
              <reef-icon icon="settings"></reef-icon>
              <reef-icon icon="import-contacts"></reef-icon>
              <button type="button" name="button">test</button>
            </div>
              <div class="grid-item">
                <summary>
                    <h2>Future plans:</h2>
                    <p>-- Time past and/or Time until new activation --</p>
                    <p>-- Connected with Rsp icon #extra --</p>
                </summary>
              </div>
          </reef-grid>
        `

      }
      connectedCallback() {
        // test
        this.root.querySelector('button[name="button"]').addEventListener('click', this._onClick);
      }

      set username(value) {
        this.setAttribute('username', value);
        this.usernameEl.innerHTML = value;
      }
      get usernameEl() {
        return this.reefGrid.root.querySelector('.username');
      }
      get reefGrid() {
        return this.root.querySelector('reef-grid');
      }
      get reefIcon() {
        return this.reefGrid.root.querySelector('reef-icon');

      }
      _onClick() {  // method
        this.toggled = !this.toggled;
        if (this.toggled === true) {
          this.reefIcon.style.fill = '#0097A7';
        } else {
          this.reefIcon.style.fill = null;
        }
      }

      attributeChangedCallback(name, oldValue, newValue) {
        if (oldValue !== newValue) {
          this[name] = newValue;
        }
      }
    }
    customElements.define(HomeView.is, HomeView);
  </script>
