<link rel="import" href="../reef-grid.html">
<link rel="import" href="../reef-icon.html">

  <script>
    class HomeView extends HTMLElement {
      static get is() {
        return 'home-view';
      };
      static get observedAttributes() {
        return ['username'];
      }
      static get config() {
        return {
          properties: {
            username: String
          }
        }
      }
      constructor() {
        super();

        this.root = this.attachShadow({mode: 'open'});

        this.root.innerHTML = `
          <style>
            :host {
              display: flex;
            }
            h1, h2 {
              margin: 0;
            }
            summary {
              padding-top: 24px;
            }
            @media (min-width: 680px) {
              :host {

              }
            }
          </style>

          <reef-grid>
            <div class="grid-item" style="width:100%;">
              <h1>Welcome
              <span class="username"></span>
              to Reeflight.</h1>
              <summary>
                <h2>Future plans:</h2>
                <p>-- Icon Clock with color indicating active/not active --</p>
                <p>-- Time past and/or Time until new activation --</p>
                <p>-- Bluetooth/Wifi enabled icon --</p>
                <p>-- Connected with Rsp icon #extra --</p>
                <reef-icon icon="lightbulb-outline"></reef-icon >
              </summary>
            <div>
          </reef-grid>
        `
      }
      set username(value) {
        this.setAttribute('username', value);
        this.root.querySelector('reef-grid').root.querySelector('.username').innerHTML = value;
      }

      attributeChangedCallback(name, oldValue, newValue) {
        if (oldValue !== newValue) {
          this[name] = newValue;
        }
      }
    }
    customElements.define(HomeView.is, HomeView);
  </script>
