<template id="devices-view">
  <style>
  :host {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    --reef-icon-button-color: #555;
    background-color: var(--reef-primary-background-color);
    overflow-x: hidden;
  }
  .toolbar {
    height: 48px;
    width: 100%;
    background: rgba(0,151,167,0.29);
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 16px;
    box-sizing: border-box;
  }
  reef-icon-button {
    color: #444;
    --reef-icon-button-color: #444;
    box-shadow: var(--custom-shadow);
  }
  .fixed {
    position: fixed;
    bottom: 94px;
    right: 24px;
    background: white;
  }

  </style>

  <reef-icon-button icon="add" class="fixed" no-shadow="false"></reef-icon-button>
  <reef-grid>
    <h1>Under construction</h1>
  </reef-grid>

</template>

<script>
'use strict';
import Backed from './../../node_modules/backed/dist/backed-es.js';
export default Backed(class DevicesView extends HTMLElement {});
</script>
