<link rel="import" href="../ux/reef-slider.html">
<link rel="import" href="../ux/time-input.html">
<link rel="import" href="../ux/reef-profile-item.html">
<link rel="import" href="../ux/reef-profile-option-item.html">
<link rel="import" href="../ux/reef-profile-option.html">
<link rel="import" href="../ux/reef-list.html">
<link rel="import" href="../sources/profiles.html">


<template id="profiles-view">
  <style>
    :host {
      display: flex;
      height: 100%;
      justify-content: center;
      background-color: var(--reef-primary-background-color);
      overflow-x: hidden;
			--reef-icon-color: #777;
			--reef-icon-size: 36px;
    }
  </style>

	<reef-list>
		<style slot="style">
		:host {
			display: flex;
			width: 100%;
			flex-flow: row wrap;
			justify-content: space-around;
			// height: 100%;
		}
		.array-repeat-item {
			display: flex;
			flex-direction: column;
			box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
									0 1px 5px 0 rgba(0, 0, 0, 0.12),
									0 3px 1px -2px rgba(0, 0, 0, 0.2);
			box-sizing: border-box;
			width: 100%;
			padding: 8px 16px;
			margin-bottom: 6px;
			background: #FFF;
			height: 420px;
			@apply(var(--reef-list-item));
		}
		@media (min-width: 840px) {
			.array-repeat-item {
				width: calc(50% - 6px);
			}
		}
		@media (min-width: 1280px) {
			.array-repeat-item {
				width: calc(100% / 3 - 6px);
			}
		}
			label {
				padding-right: 6px;
			}
			.flex {
				flex: 1;
			}
			.mobile-view {
				display: flex;
			}
			.desktop-view {
				display: none;
			}
			@media (min-width: 320px) {
				.mobile-view {
					--reef-icon-size: 56px;
					display: none;
				}
				.desktop-view {
					display: flex;
				}
			}
			.array-repeat-item {
				align-items: center;
			}
		</style>
		<template id="repeat">
			<reef-profile-item>
					<h1>[[item.name]]</h1>
					<reef-profile-option-item name="daylight">
						<span class="flex"></span>
						<time-input value="[[item.daylight.start]]" key="daylight.start" data-index="[[item.index]]" data-uid="[[item.uid]]"></time-input>

						<!-- <reef-profile-option option="end">
							<label>End time</label>
							<span class="flex"></span>
							<time-input value="[[item.daylight.end]]" key="daylight.end"></time-input>
						</reef-profile-option> -->
					</reef-profile-option-item>

					<reef-profile-option-item name="clouds" disabled title="Future option, coming soon!" vertical>
						<h3>intensity</h3>
						<reef-profile-option class="desktop-view" option="intensity">
							<reef-icon icon="sunny" disabled></reef-icon>
							<reef-slider value="[[item.clouds.intensity]]"></reef-slider>
							<reef-icon icon="cloudy" disabled></reef-icon>
						</reef-profile-option>
						<span class="mobile-view">
							<reef-icon icon="sunny" disabled></reef-icon>
							<span class="flex"></span>
							<reef-icon icon="cloudy" disabled></reef-icon>
						</span>
						<reef-slider
							class="mobile-view"
							value="[[item.clouds.intensity]]"
							disabled>
						</reef-slider>
					</reef-profile-option-item>

			</reef-profile-item>
		</template>
	</reef-list>
</template>

<script>
/**
 * @extends HTMLElement
 */
Backed(class ProfilesView extends HTMLElement {
	static get properties() {
		return {
			user: {
				observer: '_onUserChange',
				global: true
			},
      pouchReady: {
        observer: 'pouchdbReady',
				global: true
      }
		};
	}

	/**
	 * Stamps innerHTML
	 */
	ready() {
		this._onClick = this._onClick.bind(this);
		this._onProfileChange = this._onProfileChange.bind(this);
		this.timePicker = document.createElement('time-picker');
		this.timePicker.noClock = true;
		this.shadowRoot.appendChild(this.timePicker);
		this._reefList.addEventListener('on-item-select', this._onClick);
		document.addEventListener('open-picker', event => {
			let hour = this.selected.hour;
			let minutes = this.selected.minutes;
			this.timePicker.time = {hour: el.hour};
			this.timePicker.open();
		}, {capture: true});
		if (firebase && firebase.auth().currentUser) {
			this.user = globals('user');
		}
	}
	/**
	 * @return {HTMLElement}
	 */
	get _reefList() {
		return this.shadowRoot.querySelector('reef-list');
	}
	set selected(value) {
		this._selected = value;
	}
	get selected() {
		return this._selected;
	}
	/**
	 * @param {Array} value
	 */
	set profiles(value) {
		this._profiles = value;
		this.setUpPubSubs();
		this._reefList.items = value;
	}
	get profiles() {
		return this._profiles;
	}
	/**
	 * @param {object} event
	 */
	_onClick(event) {
		this.selected = event.detail.data;
	}
	setUpPubSubs() {
		for (let index of Object.keys(this.profiles)) {
			PubSub.subscribe(`time[${index}]change`, this._onProfileChange);
		}
	}
	_onProfileChange(newVal) {
		if (newVal !== this.oldVal) {
			let profiles = this.profiles;
			let index = newVal.uid;
			let parts = newVal.key.split('.');
			profiles[index][parts[0]][parts[1]] = newVal.value;
      let uid = firebase.auth().currentUser.uid;
      firebase.database().ref(`users/${uid}/profiles/${newVal.uid}`).set(profiles[index]);
			this.profiles = profiles;
			this.oldVal = newVal;
		}
	}

	_onUserChange() {
		let uid = firebase.auth().currentUser.uid;
		firebase.database().ref(`users/${uid}/profiles`).on('value', snap => {
			let data = snap.val();
			if (data === null) {
				for (let profile of profiles) {
					firebase.database().ref(`users/${uid}/profiles/${profile.uid}`).set(profile);
				}
			} else {
				this.profiles = data;
			}
		});
	}
});

</script>
